In [18]:
import pandas as pd
import numpy as pn
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('../datasets/health_v1.csv', sep=";", na_values="NaN", decimal=",")

In [32]:
df.dtypes

ID               int64
Weight         float64
Smoking        float64
Exercise        object
Cholesterol    float64
Income          object
Happiness      float64
BirthYear       object
Sex             object
dtype: object

In [33]:
df['Exercise'] = df['Exercise'].astype(int)
df['Income'] = df['Income'].astype(int)
df['BirthYear'] = df['BirthYear'].astype(int)
df['Sex'] = pd.Categorical(df['Sex'])

ValueError: invalid literal for int() with base 10: ' '

In [34]:
df['Exercise'].unique()

array(['3', '6', '8', '7', '5', '4', '2', '9', '10', '0', '1', ' '],
      dtype=object)

In [37]:
df = pd.read_csv('../datasets/health_v1.csv', sep=';', na_values=['', ' '], decimal=',')
df.Exercise.unique()

array([ 3.,  6.,  8.,  7.,  5.,  4.,  2.,  9., 10.,  0.,  1., nan])

In [46]:
df.dtypes

ID                int64
Weight          float64
Smoking         float64
Exercise        float64
Cholesterol     float64
Income          float64
Happiness       float64
BirthYear       float64
Sex            category
dtype: object

In [40]:
df['Sex'] = pd.Categorical(df['Sex'])

In [41]:
df.Sex.unique()

['1', '2', 'Male', 'Female']
Categories (4, object): ['1', '2', 'Female', 'Male']

In [42]:
df['Sex'] = df['Sex'].astype(str)
df['Sex'] = df['Sex'].replace({'Male': '1', 'Female': '2'})
df['Sex'] = df['Sex'].astype('category')

In [43]:
df.describe(include='all')

,ID,Weight,Smoking,Exercise,Cholesterol,Income,Happiness,BirthYear,Sex
count,1000.000000,999.000000,999.000000,998.000000,1000.00000,997.000000,999.000000,999.000000,1000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,523
mean,500.500000,79.717718,0.232232,5.092184,5.72750,3069.829488,51.171171,1954.111111,NaN
std,288.819436,25.252719,0.422468,2.030736,1.39649,1264.497563,17.511569,21.443328,NaN
min,1.000000,8.000000,0.000000,0.000000,-7.50000,0.000000,0.000000,1879.000000,NaN
25%,250.750000,70.000000,0.000000,4.000000,4.87500,2220.000000,39.000000,1939.000000,NaN
50%,500.500000,80.000000,0.000000,5.000000,5.80000,3140.000000,50.000000,1954.000000,NaN
75%,750.250000,88.000000,0.000000,6.000000,6.60000,3890.000000,63.000000,1969.000000,NaN
max,1000.000000,740.000000,1.000000,10.000000,9.50000,7690.000000,100.000000,2020.000000,NaN